<div class="container">
  <article class="col-lg-8 col-xl-8">
    <%- partial("_content") %>
  </article>
</div>

<style>
  .image {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  }
</style>