<div class="container">
  <div class="columns columns-2">
  </div>
  <article class="columns columns-8">
  <p>Current ADHD diagnosis can be as simple as answering 15 simple
questions!</p><p>


More advanced diagnosis’ are very expensive and often not covered by
insurance (neuropsychologicial examines using the DSM-5 Standard)


</p><p>Current research indicates 50% of those diagnosed do not receive a
neuropsychologicial examination


</p><p>That leaves an estimated 10+ millions Americans that answered 15 questions and were
prescribed a controlled substance!


</p><p>Medication adjustments are conducted by simple monthly Dr. visits


</p><p>No user treatment data exists!!</p>
</article></div>
<style>
  .image {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  }
</style>