html {
  background-color: map-get($colors, primary);
}

main {
  background-color: map-get($colors, white);
  width:100vw;
}

article {
  padding-top: $base-padding;
  padding-bottom: $base-padding;
}