body {
  font-family: $sans-font-family;
  font-weight:300;
  font-size: $base-font-size;
  line-height:1.75;
  color: map-get($colors, theme-black);
  a {position:relative;
    display:inline-block;
    color: map-get($colors, primary);
    transform:skewX(-20deg);

    text-decoration: none;
  }
  strong, b {
    font-weight:900;
  }
  small {
    font-size: 1vmin;
  }

  p {
    text-align: justify;
  }

  h2 {
    position:relative;
    text-align:center;

    span {
      position:relative;
      background: white;
      padding: 0px 1vmin;
    }
    &:before {
      content:"";
      position:absolute;
      top:50%;
      left:0px;
      right:0px;
      border-bottom: 1px solid map-get($colors, theme-black);
    }
  }
}