$colors: (
  primary: rgb(241,90,36),
  secondary: #1C75BC,
  success: green,
  warning: gold,
  error: red,
  theme-black: lighten(black, 30),
  theme-gray: lighten(black, 70),
  theme-white: white,
);

$grid-config: (
  columns: 12,
  gutter-width: 4%
);

$serif-font-family: "Rubik", sans-serif;
$sans-font-family: "Rubik", sans-serif;
$display-font-family: "Rubik Mono One", Impact, Helvetica, Arial, sans-serif;
$base-font-size: 21px;
$small-font-size: $base-font-size*.75;
$large-font-size: $base-font-size*1.5;
$h6-font-size: $base-font-size*.75;
$h5-font-size: $base-font-size;
$h4-font-size: $base-font-size*1.25;
$h3-font-size: $base-font-size*1.5;
$h2-font-size: $base-font-size*2;
$h1-font-size: $base-font-size*2.5;