<div class="container">
  <div class="columns columns-1">
  </div>
  <article class="columns columns-10">
  <ul>
  <li>How does the industry track the side effects of ADHD?</li>
  <li>What is the impact of trial and error dosage setting?</li>
  <li>What are the potential side effects of ADHD Medications?</li>
  <li>How do parents make the right decision regarding their
child, should they put their kid on meds, how do they know
what to do?</li>



<li>What can we do differently?</li></ul>
</article></div>
<style>
  .image {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  }
</style>