<div class="container">
  <div class="columns columns-2">
  </div>
  <article class="columns columns-8">
  <p>Trained by ADHD Coaches, ADHD
America student advocates will
educate fellow students diagnosed
with ADHD on the challenges most
face when struggling with ADHD:</p>
  <ol>
  <li>Time Management</li>
  <li>Cycle of late and missing
homework assignments</li>
  <li>Organization of school materials</li>
  <li>Flexibility</li>



<li>Academic tutoring</li></ol>
</article></div>
<style>
  .image {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  }
</style>