<div class="container">
  <article class="columns col-sm-12 col-md-12 columns-8">
    <%- partial("/_content") %>
  </div>
</div>
<style>
  .image {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  }
</style>