<div class="container">
  <div class="columns columns-1">
  </div>
  <article class="columns columns-10">
  <ul>
  <li>ADHD students will learn through teaching other students to
develop their own executive functions</li>


<li>Coaching is one of the most effective ways to manage ADHD</li>


<li>ADHD students’ grades will improve (both high school and
middle school students)</li>


<li>Lessen the temptation to self-medicate

<ul>
<li>Most drug use begins in middle school</li>


<li>ADHD students are 10 times more likely to start using drugs in
middle school</li>
</ul>
</li>


<li>High school students would help in the grass roots movement
to bring greater awareness to a very challenging disorder</li>


<li>ADHD high school students will develop a greater sense of
community and a vested interest in improving the lives of other
ADHD students</li>
</ul>
<article></div>
<style>
  .marquee h1{
    color:white;
  }
</style>