<% marquee_image = "https://maps.google.com/maps/api/staticmap?center=@43.118338,-87.9119605&zoom=16&size=800x600&maptype=roadmap&sensor=false"; %>

<div class="container">
  <div class="columns columns-3"></div>
  <article class="columns columns-6">
    Chip Pieper<br /><br />
    <strong>ADHD America</strong><br />
    121 E. Silver Spring Dr. Suite 203<br />
    Whitefish Bay, WI 53217<br /><br />

    <a href="tel:312-375-3171">312-375-3171</a><br /><br />
    <a href="mailto:chip@adhdamerica.org">chip@adhdamerica.org</a><br />
    <a href="www.linkedin.com/in/chippieper/">www.linkedin.com/in/chippieper/</a>
  <article>
</div>

<style>
  .image {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  }
</style>