<% marquee_image = "https://maps.google.com/maps/api/staticmap?center=@43.118338,-87.9119605&zoom=16&size=800x600&maptype=roadmap&sensor=false"; %>

<div class="container">
  <article class="col-lg-6 col-xl-6">
    <%- partial("_content") %>
  <article>
</div>

<style>
  .image {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  }
</style>