<section id="theApp" style="background: whiteSmoke;">
  <div class="container">
    <div class="columns-2"></div>
    <div class="columns-8">
      <%- partial("../_content/app") %>
    </div>
  </div>
</section>