<section id="awareness" style="background: black; color: white;">
  <div class="container">
    <div class="columns-6">
      <%- partial("../_content/awareness") %>
    </div>
    <div class="columns-6"></div>
  </div>
</section>