<section id="theMission">
  <div class="container">
    <div class="columns-2"></div>
    <div class="columns-8" style="text-align:center !important;">
      <%- partial("../_content/mission") %>
    </div>
  </div>
</section>
<style>
  #theMission img{
    position:absolute;
    height:100%;
    width:auto;
    right:50%;
  }

  #theMission p {
    text-align:center
  }
</style>