<section id="support" style="background: black; color: white;">
  <div class="container">
    <div class="columns-2"></div>
    <div class="columns-8">
      <%- partial("../_content/support") %>
    </div>
  </div>
</section>