<div class="container">
  <article class="columns columns-12">
    <dl>
      <dt>ADHD - Attention Deficit Hyperactivity Disorder</dt>
      <dd>An impairment of the <strong>executive functions</strong>.</dd>
      <dt>Executive Functions</dt>
      <dd>A set of processes that all have to do with managing oneself and one's resources in order to achieve a goal. It is an umbrella term for the neurologically-based skills
    involving mental control and self-regulation.</dd>
    </dl>
  </article>
</div>
<style>
  .logo {
    
  }

  .logo .star {
      fill: rgb(241,90,36);
    }

    .logo .adhd, .logo .accent {
      fill: black;
    }
  dl {
    color:rgb(241,90,36);
    font-size: 2vmax;
  }
dt {
    font-size: 3vmax;
    opacity:.25;
  }
  dd {
    padding-bottom: 2vmax;
    margin:0px;
    opacity:.75;
  }
</style>