<section id="theApp">
  <div class="container">
    <div class="col-md-6 col-lg-6 col-xl-6">
      <img src="../../assets/images/app.png" />
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6">
      <%- partial("../_content/app") %>
    </div>
  </div>
</section>

<style>
  div[class*="col"] {
    position:relative;
  }

  #theApp { overflow: hidden;}

  #theApp img {
    position:absolute;
    width:100%;
    height:auto;
  }
  @media screen and (max-width: 768px ) {
    #theApp img {display: none;}
  }
</style>