<section id="awareness" style="background: #172C5D; color: white;">
  <div class="container">
    <div class="columns-6"></div>
    <div class="columns-6">
      <%- partial("../_content/awareness") %>
    </div>
  </div>
</section>

<style>
  #awareness h1 {
    color:white;
  }
</style>