<section id="isCorp">
  <div class="container">
  <div class="columns-6"><img src="./clip111.png" height="auto" width="90%"/></div>
    <div class="columns-6">
      <%- partial("../_content/iscorp") %>
    </div>
    
  </div>
</section>
<style>
  #isCorp img {
    position:absolute;
    top:-12vmin;
  }
</style>