<section id="isCorp">
  <div class="container">
  <div class="col-md-6 col-lg-6 col-xl-6"><img src="../../assets/images/bikers.png" height="auto" width="90%"/></div>
    <div class="col-md-6 col-lg-6 col-xl-6">
      <%- partial("../_content/iscorp") %>
    </div>
  </div>
</section>

<style>
  #isCorp img {
    position:absolute;
    top:-12vmin;
  }
  @media screen and (max-width: 768px ) {
    #isCorp img {display: none;}
  }
</style>