<section id="theMission">
  <div class="container">
    <div class="columns-8">
      <%- partial("../_content/mission") %>
    </div>
  </div>
</section>
<style>
  #theMission {
    background-color: whiteSmoke;
    text-align:center !important;
  }

  #theMission img{
    position:absolute;
    height:100%;
    width:auto;
    right:50%;
  }

  #theMission p {
    text-align:center
  }
</style>