<header id="siteHeader">
  <div class="container">
  <nav class="columns columns-12">
    <ul>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
    </ul>
  </nav>
  </div>
</header>