.logo{
  .background {
    fill:#FFFFFF;
    stroke: black;
  }
  .star-background{
    fill:#1B75BB;
  }
  .stripes {
    fill:#EC1C24;
  }

  .star {
    fill: map-get($colors, primary);
  }

  .accent {
    fill: map-get($colors, primary);
  }

  .adhd {
    fill: map-get($colors, primary);
  }

  .open &, .contact & {
    .adhd, .accent, .star {
      fill: white !important;
    }
  }
}