.logo{

  .star {
    fill: map-get($colors, primary);
  }

  .accent {
    fill: map-get($colors, primary);
  }

  .adhd {
    fill: map-get($colors, primary);
  }

  .open &, .contact & {
    .adhd, .accent, .star {
      fill: map-get($colors , white ) !important;
    }
  }
}